<script lang="ts">
    import { DateField as DateFieldPrimitive } from 'bits-ui';
    import { cn } from '$lib/utils';

    type $$Props = DateFieldPrimitive.InputProps;

    let className: $$Props['class'] = undefined;
    export { className as class };
</script>

<DateFieldPrimitive.Input
    let:segments
    class={cn(
        'flex h-9 w-full select-none items-center rounded-md border border-input bg-background px-3 py-1 text-sm text-muted-foreground shadow-sm transition-colors focus-within:outline-none focus-within:ring-1 focus-within:ring-ring',
        className
    )}
    {...$$restProps}
>
    {#each segments as { part, value }}
        <div class="inline-block select-none">
            {#if part === 'literal'}
                <DateFieldPrimitive.Segment {part} class="p-0.5">
                    {value}
                </DateFieldPrimitive.Segment>
            {:else}
                <DateFieldPrimitive.Segment
                    {part}
                    class="rounded-md p-1 hover:bg-muted focus:bg-muted focus:text-foreground focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-offset-0"
                >
                    {value}
                </DateFieldPrimitive.Segment>
            {/if}
        </div>
    {/each}
</DateFieldPrimitive.Input>
