<script lang="ts">
    import { DateField as DateFieldPrimitive } from 'bits-ui';

    type $$Props = DateFieldPrimitive.Props;

    export let value: $$Props['value'] = undefined;
</script>

<DateFieldPrimitive.Root bind:value {...$$restProps}>
    <div class="w-full">
        <slot />
    </div>
</DateFieldPrimitive.Root>
