<script lang="ts">
    import { DateField as DateFieldPrimitive } from 'bits-ui';
    import { cn } from '$lib/utils';

    type $$Props = DateFieldPrimitive.LabelProps;

    let className: $$Props['class'] = undefined;
    export { className as class };
</script>

<DateFieldPrimitive.Label
    class={cn('text-sm font-medium leading-none', className)}
    {...$$restProps}
>
    <slot />
</DateFieldPrimitive.Label>
