<script lang="ts">
    import { readable } from 'svelte/store';
    import { differenceInYears } from 'date-fns';
    import { Navbar } from '$lib/components/navbar';
    import { ThemeToggle } from '$lib/components/theme-toggle';
    import { Button } from '$ui/button';
    import * as Tooltip from '$ui/tooltip';

    let today = readable(new Date(), (set) => {
        const interval = setInterval(() => {
            set(new Date());
        }, 1000);

        return () => clearInterval(interval);
    });
</script>

<svelte:head>
    <title>Jay Ar</title>
</svelte:head>

<Navbar class="justify-end">
    <Tooltip.Root>
        <Tooltip.Trigger asChild let:builder>
            <Button builders={[builder]} variant="ghost">
                {Intl.DateTimeFormat('en-us', { timeStyle: 'medium' }).format($today)}
            </Button>
        </Tooltip.Trigger>
        <Tooltip.Content>
            <p>{Intl.DateTimeFormat('en-us', { dateStyle: 'full' }).format($today)}</p>
        </Tooltip.Content>
    </Tooltip.Root>

    <ThemeToggle />
</Navbar>

<div class="content space-y-4">
    <h1 class="text-2xl">Hello!</h1>
    <div class="leading-8">
        <p>
            I'm Jay-ar, a {differenceInYears($today, '09-05-2000')}-year-old civil engineering
            student from the Philippines.
        </p>
        <p>I enjoy watching anime, playing video games, and programming.</p>
    </div>
</div>
