<script lang="ts">
    import { page } from '$app/stores';
    import { Navbar } from '$lib/components/navbar';
    import { ThemeToggle } from '$lib/components/theme-toggle';
    import { Button } from '$ui/button';
    import { Input } from '$ui/input';
    import { Label } from '$ui/label';
</script>

<Navbar class="justify-between gap-2">
    <span class="text-xl font-extrabold tracking-widest">ANIME</span>
    <form
        method="GET"
        action="/anime/search"
        class="flex w-full max-w-xl items-center justify-center space-x-2"
    >
        <Label class="sr-only">Search anime</Label>
        <Input
            type="search"
            id="search"
            name="q"
            placeholder="Search anime"
            autocapitalize="none"
            autocorrect="off"
            value={$page.url.searchParams.get('q') || ''}
        />
        <Button type="submit">Search</Button>
    </form>
    <div class="flex justify-end">
        <ThemeToggle />
    </div>
</Navbar>

<slot />
