<script lang="ts">
    import { Badge } from '$ui/badge';
    import type { Anime } from './types';

    export let anime: Anime;
</script>

<div
    class="relative aspect-[1/1.4] cursor-pointer overflow-hidden rounded-xl text-card-foreground shadow transition-all hover:scale-105"
>
    <div class="absolute inset-0">
        <img
            src={anime.images.webp?.image_url || anime.images.jpg.image_url}
            alt={anime.title}
            class="h-full w-full object-cover"
        />
    </div>
    <div class="absolute inset-0 flex flex-col justify-between">
        <div class="flex justify-end p-1">
            {#if anime.year}
                <Badge class="px-1">{anime.year}</Badge>
            {/if}
        </div>
        <div
            class="bg-gradient-to-t from-white/40 via-white/30 to-transparent p-2 pt-6 text-center dark:from-black/90 dark:via-black/60"
        >
            <span class="line-clamp-2 text-sm">{anime.title_english || anime.title}</span>
        </div>
    </div>
    <!-- svelte-ignore a11y-missing-content -->
    <a href="/anime/{anime.mal_id}" class="absolute inset-0 z-10"></a>
</div>
