<script lang="ts">
    import { onMount } from 'svelte';
    import { page } from '$app/stores';
    import type { Anime, JikanResponse } from '../types';

    let promise: Promise<JikanResponse<Anime>> | undefined = undefined;

    onMount(() => {
        promise = new Promise((resolve) => {
            fetch('https://api.jikan.moe/v4/anime/' + $page.params.id)
                .then((res) => res.json())
                .then((data) => resolve(data));
        });
    });
</script>

{#if promise}
    {#await promise}
        <div></div>
    {:then data}
        <div class="container grid grid-cols-[auto_1fr] p-4">
            <div class="inline-block p-4">
                <img src={data.data.images.webp?.image_url} alt={data.data.title} />
            </div>
            <div class="p-4">
                <h1
                    class="mt-10 scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0"
                >
                    {data.data.title_english || data.data.title}
                </h1>

                <div class="text-sm font-light">
                    <p><span class="font-bold">Season: </span>{data.data.season}</p>
                    <p>
                        <span class="font-bold">Start Date: </span>
                        {Intl.DateTimeFormat('en-us').format(new Date(data.data.aired.from))}
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <p class="text-sm font-light leading-relaxed">{data.data.synopsis}</p>
        </div>
    {/await}
{/if}
