<script lang="ts">
    import { afterNavigate } from '$app/navigation';
    import { page } from '$app/stores';
    import AnimeCard from '../anime-card.svelte';
    import type { Anime, JikanResponse } from '../types';

    $: params = Object.fromEntries($page.url.searchParams.entries());

    let promise: Promise<JikanResponse<Anime[]>> | undefined = undefined;

    afterNavigate(() => {
        if (params.q && params.q !== '') {
            promise = new Promise((resolve) => {
                fetch('https://api.jikan.moe/v4/anime?sfw&q=' + params.q)
                    .then((res) => res.json())
                    .then((data) => resolve(data));
            });
        } else {
            promise = undefined;
        }
    });
</script>

<svelte:head>
    <title>{params.q || 'Search anime'}</title>
</svelte:head>

{#if promise}
    {#await promise}
        <div></div>
    {:then data}
        <div class="container my-12">
            <div class="grid-auto-fit-xs grid justify-center gap-4">
                {#each data.data as anime}
                    <AnimeCard {anime} />
                {/each}
            </div>
        </div>
    {/await}
{/if}
