<script lang="ts">
    import { CalendarDays, ChevronLeft, ChevronRight } from 'lucide-svelte';
    import { Button } from '$lib/components/ui/button';
    import * as Calendar from '$lib/components/ui/calendar';
    import * as Card from '$lib/components/ui/card';
    import * as Tabs from '$lib/components/ui/tabs';
    import * as Tooltip from '$lib/components/ui/tooltip';
    import { Navbar } from '$lib/components/navbar';
    import { ThemeToggle } from '$lib/components/theme-toggle';
    import { cn, watchMedia } from '$lib/utils';
    import { Calendar as CalendarBits } from 'bits-ui';
    import { addDays, isToday, subDays } from 'date-fns';
    import TabDay from './tab-day.svelte';
    import { currentDate } from './states';

    const breakpoints = watchMedia({
        sm: '(min-width: 640px)',
        md: '(min-width: 768px)',
        lg: '(min-width: 1024px)',
        xl: '(min-width: 1280px)',
        '2xl': '(min-width: 1536px)'
    });

    let currentTab = 'monthly';

    function createWeek() {
        const today = new Date();
        const startingDateOfWeek = subDays(today, today.getDay());

        let days = [startingDateOfWeek];

        for (let i = 1; i < 7; i++) {
            days[i] = addDays(startingDateOfWeek, i);
        }
        return days;
    }

    let day = new Date();
</script>

<svelte:head>
    <title>Calendar</title>
</svelte:head>

<Navbar class="sticky justify-between">
    <div></div>
    <div>
        <ThemeToggle />
    </div>
</Navbar>

<div class={cn('container', $breakpoints.lg && 'grid grid-cols-[auto_1fr]')}>
    {#if $breakpoints.lg}
        <aside class="pr-4">
            <Calendar.Calendar
                class="mb-4 h-max w-max rounded-md border"
                onValueChange={(value) => {
                    if (value) {
                        $currentDate = new Date(value.year, value.month - 1, value.day);
                    }
                }}
            />
            <div>
                <Card.Root>
                    <Card.Header>
                        <Card.Title>Card Title</Card.Title>
                        <Card.Description>Card Description</Card.Description>
                    </Card.Header>
                </Card.Root>
            </div>
        </aside>
    {/if}
    <Tabs.Root
        value={currentTab}
        onValueChange={(value) => {
            if (value) {
                currentTab = value;
            }
        }}
    >
        <Tabs.List>
            <Tabs.Trigger value="monthly">Monthly</Tabs.Trigger>
            <Tabs.Trigger value="weekly">Weekly</Tabs.Trigger>
            <Tabs.Trigger value="daily">Daily</Tabs.Trigger>
        </Tabs.List>
        <Tabs.Content value="monthly">
            <CalendarBits.Root weekdayFormat="short" let:months let:weekdays>
                <Calendar.Months>
                    {#each months as month}
                        <Calendar.Grid class="border">
                            <Calendar.GridHead>
                                <Calendar.GridRow class="grid grid-cols-7">
                                    {#each weekdays as weekday}
                                        <Calendar.HeadCell
                                            class="w-full rounded-none border text-center text-xl"
                                        >
                                            {weekday}
                                        </Calendar.HeadCell>
                                    {/each}
                                </Calendar.GridRow>
                            </Calendar.GridHead>
                            <Calendar.GridBody class="space-y-0">
                                {#each month.weeks as weekDates}
                                    <Calendar.GridRow class="grid w-full grid-cols-7">
                                        {#each weekDates as date}
                                            <Calendar.Cell
                                                {date}
                                                class="aspect-square rounded-none border text-left"
                                            >
                                                <Calendar.Day
                                                    {date}
                                                    month={month.value}
                                                    class="rounded-none"
                                                />
                                            </Calendar.Cell>
                                        {/each}
                                    </Calendar.GridRow>
                                {/each}
                            </Calendar.GridBody>
                        </Calendar.Grid>
                    {/each}
                </Calendar.Months>
            </CalendarBits.Root>
        </Tabs.Content>
        <Tabs.Content value="weekly" class="space-y-2">
            <div class="flex justify-end">
                <Tooltip.Root>
                    <Tooltip.Trigger asChild let:builder>
                        <Button builders={[builder]} variant="ghost" size="icon">
                            <CalendarDays class="h-[1.2rem] w-[1.2rem]" />
                        </Button>
                    </Tooltip.Trigger>
                    <Tooltip.Content>
                        <p>This week</p>
                    </Tooltip.Content>
                </Tooltip.Root>
                <Button variant="ghost" size="icon">
                    <ChevronLeft class="h-[1.2rem] w-[1.2rem]" />
                </Button>
                <Button variant="ghost" size="icon">
                    <ChevronRight class="h-[1.2rem] w-[1.2rem]" />
                </Button>
            </div>
            {#each createWeek() as day}
                <div class="border-b">
                    <div class="p-2 md:p-4">
                        <div class={cn('text-xl', isToday(day) && 'text-blue-500')}>
                            {day.getDate()}
                        </div>
                        <div></div>
                    </div>
                </div>
            {/each}
        </Tabs.Content>
        <Tabs.Content value="daily"><TabDay /></Tabs.Content>
    </Tabs.Root>
</div>
