<script lang="ts">
    import { addDays, format, getDate, subDays } from 'date-fns';
    import { CalendarDaysIcon, ChevronLeftIcon, ChevronRightIcon } from 'lucide-svelte';
    import { Button } from '$lib/components/ui/button';
    import * as Card from '$lib/components/ui/card';
    import * as DateRangePicker from '$lib/components/ui/date-range-picker';
    import * as Dialog from '$lib/components/ui/dialog';
    import { Input } from '$lib/components/ui/input';
    import { Label } from '$lib/components/ui/label';
    import * as Tooltip from '$lib/components/ui/tooltip';
    import { currentDate } from './states';
</script>

<Card.Root>
    <Card.Header class="flex flex-row items-start justify-between">
        <div class="w-32 text-center">
            <div>{format($currentDate, 'MMMM')}</div>
            <div class="text-7xl">{getDate($currentDate)}</div>
            <div class="text-sm text-muted-foreground">{format($currentDate, 'iiii')}</div>
        </div>
        <div class="flex items-center">
            <Dialog.Root>
                <Dialog.Trigger asChild let:builder>
                    <Button builders={[builder]} class="mr-2">Create event</Button>
                </Dialog.Trigger>
                <Dialog.Content>
                    <Dialog.Header>
                        <Dialog.Title>Create an event</Dialog.Title>
                    </Dialog.Header>
                    <div>
                        <Label for="title">Title</Label>
                        <Input name="title" id="title" />
                        <Label for="description">Description</Label>
                        <Input name="description" id="description" />
                        <DateRangePicker.Root>
                            <DateRangePicker.Label>Date</DateRangePicker.Label>
                            <DateRangePicker.Input />
                        </DateRangePicker.Root>
                        <div class="mt-4 flex justify-end space-x-2">
                            <Button size="sm">Create</Button>
                            <Button variant="secondary" size="sm">Close</Button>
                        </div>
                    </div>
                </Dialog.Content>
            </Dialog.Root>
            <Tooltip.Root>
                <Tooltip.Trigger asChild let:builder>
                    <Button
                        builders={[builder]}
                        variant="ghost"
                        size="icon"
                        on:click={() => ($currentDate = new Date())}
                    >
                        <CalendarDaysIcon class="h-[1.2rem] w-[1.2rem]" />
                    </Button>
                </Tooltip.Trigger>
                <Tooltip.Content><p>Today</p></Tooltip.Content>
            </Tooltip.Root>
            <Button
                variant="ghost"
                size="icon"
                on:click={() => ($currentDate = new Date(subDays($currentDate, 1)))}
            >
                <ChevronLeftIcon class="h-[1.2rem] w-[1.2rem]" />
            </Button>
            <Button
                variant="ghost"
                size="icon"
                on:click={() => ($currentDate = new Date(addDays($currentDate, 1)))}
            >
                <ChevronRightIcon class="h-[1.2rem] w-[1.2rem]" />
            </Button>
        </div>
    </Card.Header>
</Card.Root>
