<script lang="ts">
    import { DateRangeField as DateRangeFieldPrimitive } from 'bits-ui';
    import { cn } from '$lib/utils';

    type $$Props = DateRangeFieldPrimitive.LabelProps;

    let className: $$Props['class'] = undefined;
    export { className as class };
</script>

<DateRangeFieldPrimitive.Label
    class={cn('text-sm font-medium leading-none', className)}
    {...$$restProps}
>
    <slot />
</DateRangeFieldPrimitive.Label>
