<script lang="ts">
    import { DateRangeField as DateRangeFieldPrimitive } from 'bits-ui';
    import { cn } from '$lib/utils';

    type $$Props = DateRangeFieldPrimitive.InputProps;

    let className: $$Props['class'] = undefined;
    export { className as class };
</script>

<DateRangeFieldPrimitive.Input
    let:segments
    class={cn(
        'flex h-9 w-full select-none items-center rounded-md border border-input bg-background px-3 py-1 text-sm text-muted-foreground shadow-sm transition-colors focus-within:outline-none focus-within:ring-1 focus-within:ring-ring',
        className
    )}
    {...$$restProps}
>
    {#each segments.start as { part, value }}
        <div class="inline-block select-none">
            {#if part === 'literal'}
                <DateRangeFieldPrimitive.Segment type="start" {part} class="p-0.5">
                    {value}
                </DateRangeFieldPrimitive.Segment>
            {:else}
                <DateRangeFieldPrimitive.Segment
                    type="start"
                    {part}
                    class="rounded-md p-1 hover:bg-muted focus:bg-muted focus:text-foreground focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-offset-0"
                >
                    {value}
                </DateRangeFieldPrimitive.Segment>
            {/if}
        </div>
    {/each}
    <div aria-hidden class="px-1">&ndash;</div>
    {#each segments.end as { part, value }}
        <div class="inline-block select-none">
            {#if part === 'literal'}
                <DateRangeFieldPrimitive.Segment type="end" {part} class="p-0.5">
                    {value}
                </DateRangeFieldPrimitive.Segment>
            {:else}
                <DateRangeFieldPrimitive.Segment
                    type="end"
                    {part}
                    class="rounded-md p-1 hover:bg-muted focus:bg-muted focus:text-foreground focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-offset-0"
                >
                    {value}
                </DateRangeFieldPrimitive.Segment>
            {/if}
        </div>
    {/each}
</DateRangeFieldPrimitive.Input>
