<script lang="ts">
    import { DateRangeField as DateRangeFieldPrimitive } from 'bits-ui';

    type $$Props = DateRangeFieldPrimitive.Props;

    export let value: $$Props['value'] = undefined;
</script>

<DateRangeFieldPrimitive.Root bind:value {...$$restProps}>
    <div class="w-full">
        <slot />
    </div>
</DateRangeFieldPrimitive.Root>
